* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.custom-quill-editor .ql-editor {
  min-height: 150px;
}
