* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.custom-quill-editor .ql-editor {
  min-height: 150px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .custom-quill-editor .ql-editor {
    height: 320px;
    max-height: 320px;
  }
}

input {
  padding: 4px;
}
